
{% extends 'base.html' %}
{%load static%}
<!DOCTYPE html>
<html lang="en">

{% block title %} Careers {% endblock %}


    <body>
      {% block content %}
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center row">
                <div class=" col-md-6">
                  <img src="{% static 'img/404.jpg' %}" alt="" class="img-a img-fluid">
                </div>
                <div class=" col-md-6 mt-5"><br/>
                  <br/>
                  <br/>
                  <br/>
                    <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
                    <p class="lead">
                        The page you’re looking for doesn’t exist.
                    </p>
                    <a href="{% url "index" %}" class="btn btn-primary"> Home</a>
                </div>

            </div>
        </div>
        {% endblock %}
    </body>

</html>